{{>layouts/header}}
<link rel="stylesheet" href="/css/login.css">

<body >
<section class="login-form">
    <h1>Login</h1>
    <form action="/user/login" method="post">
        <div class="int-area">
            <input type="text" name="email" id="email" value=""
                   autocomplete="off" required>
            <label for="email">Email</label>
        </div>
        <div class="int-area">
            <input type="password" name="password" id="password" value=""
                   autocomplete="off" required>
            <label for="password">password</label>
        </div>
        <div class="btn-area">
            <button type="submit">login</button>
        </div>
    </form>
    <div class="btn-area">
        <button type="submit" onClick="location.href='/user/register'">Sign up</button>
    </div>
    <div class="caption">
        <a href="">Forgot password?</a>
    </div>
</section>

<script>
    let id = $('#email');
    let pw = $('#password');
    let btn = $('#btn');

    $(btn).on('click', function() {
        if($(id).val() == "") {
            $(id).next('label').addClass('warning');
            setTimeout(function() {
                $('label').removeClass('warning');
            }, 1500);
        }

        else if($(pw).val() == "") {
            $(pw).next('label').addClass('warning');
        }
    });
</script>
{{>layouts/footer}}