{{>layouts/header}}
<link rel="stylesheet" href="/css/register.css">

<section class="Registration-form">
    <h1>Sign-up</h1>
    <form action="/user/signup" method="post">
        <div class="int-area">
            <input type="text" name="email" id="email" value=""
                   autocomplete="off" required>
            <label for="email">email</label>
        </div>
        <div class="int-area">
            <input type="password" name="password" id="password" value=""
                   autocomplete="off" required>
            <label for="password">password</label>
        </div>
        <div class="int-area">
            <input type="password"
                   autocomplete="off" required>
            <label for="password">Confirm password</label>
        </div>
        <div class="int-area">
            <input type="text" name="name" id="name" value=""
                   autocomplete="off" required>
            <label for="name">name</label>
        </div>
        <div class="btn-area">
            <button type="submit">Register</button>
        </div>
    </form>
</section>

<script>
    let id = $('#email');
    let pw = $('#password');
    let btn = $('#btn');

    $(btn).on('click', function() {
        if($(id).val() == "") {
            $(id).next('label').addClass('warning');
            setTimeout(function() {
                $('label').removeClass('warning');
            }, 1500);
        }

        else if($(pw).val() == "") {
            $(pw).next('label').addClass('warning');
        }
    });
</script>

{{>layouts/footer}}